doctype html
html
  head
    title AFC EAST | Players
    link(rel="stylesheet", type="text/css", href="/css/layout.css")

  body

    h1(class='home')
      a(href="/") AFC EAST
    br
    br
    ul(class='nav')
      li
        a(href="/team") Teams
      li
        a(href="/players") Players
      li
        a(href="/coaches") Coaches
    br


    h2 #{player.playerName}
    img(src=player.image width='300' height'300')
    p #{player.bio}
    label Stats
    ul
      li #{player.stat1}
      li #{player.stat2}
      li #{player.stat3}
