doctype html
html
  head
    title AFC EAST | Players
    link(rel="stylesheet", type="text/css", href="/css/layout.css")

  body
    h1(class='home')
      a(href="/") AFC EAST
    br
    br

    ul(class='nav')
      li
        a(href="/team") Teams
      li
        a(href="/players") Players
      li
        a(href="/coaches") Coaches
    br


    h2 #{coach.coachName}
    img(src=coach.image width='300' height'300')
    p #{coach.bio}
    label Stats
    ul
      li #{coach.stat1}
      li #{coach.stat2}
      li #{coach.stat3}
