doctype html
html
  head
    title AFC EAST | #{team.teamName}
    link(rel="stylesheet", type="text/css", href="/css/layout.css")

  body
    h1(class='home')
      a(href="/") AFC EAST
    br
    br
    ul(class='nav')
      li
        a(href="/team") Teams
      li
        a(href="/players") Players
      li
        a(href="/coaches") Coaches
    br


    h2 #{team.teamName}
    img(src=team.teamLogo width='250' height='250')
    br
    h3 History
    p #{team.history}
    h3 Present
    p Record: #{team.record}
    p #{team.stat1}
    p #{team.stat2}
    p #{team.stat3}
    h3 Notable Players
    ul
      each player in players
        li
          a(href="/players/" + player.id) #{player.playerName}
    h3 Notable coaches
    ul
      each coach in coaches
        li
          a(href="/coaches/" + coach.id) #{coach.coachName}
